@keyframes imageTrailFadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes imageTrailFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.image-trail-item {
  position: absolute;
  pointer-events: none;
  border-radius: 0.5rem;
  animation: imageTrailFadeIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      forwards,
    imageTrailFadeOut 0.3s ease-in-out forwards;
  animation-delay: 0s, 0.6s;
}

.instruction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
